apiVersion: apps/v1
kind: Deployment
metadata:
  name: webhook
  namespace: default-allow-privilege-escalation
  # labels: {} # managed by kustomize
spec:
  replicas: 1
  selector:
    # matchLabels: {} # managed by kustomize
  template:
    metadata:
      # labels: {} # managed by kustomize
    spec:
      serviceAccountName: webhook
      securityContext: {}
      containers:
      - name: webhook
        securityContext:
          allowPrivilegeEscalation: false
        image: docker.io/marshallford/default-allow-privilege-escalation:1.0.0
        imagePullPolicy: IfNotPresent
        ports:
        - name: https
          containerPort: 8443
          protocol: TCP
        livenessProbe:
          httpGet:
            path: /api/v1/healthz
            scheme: HTTPS
            port: https
        readinessProbe:
          httpGet:
            path: /api/v1/healthz
            scheme: HTTPS
            port: https
        resources:
          requests:
            cpu: 100m
            memory: 128Mi
          limits:
            cpu: 500m
            memory: 256Mi
        volumeMounts:
        - mountPath: /run/secrets/tls
          name: cert
          readOnly: true
        - mountPath: /run/configmaps/webhook
          name: webhook-config
          readOnly: true
        env:
        - name: CONFIGPATH
          value: /run/configmaps/webhook
      nodeSelector:
        kubernetes.io/os: linux
      volumes:
      - name: cert
        secret:
          defaultMode: 420
          secretName: webhook-server-cert
      - name: webhook-config
        configMap:
          defaultMode: 420
          name: webhook
