on:
  push:
    branches:
    - '**'
  pull_request:
    branches:
    - master
name: CI
env:
  GO_VERSION: 1.14.5
jobs:
  test:
    name: test
    runs-on: ubuntu-20.04
    steps:
    - name: install go
      uses: actions/setup-go@v2
      with:
        go-version: ${{ env.GO_VERSION }}
    - name: checkout
      uses: actions/checkout@v2
    - name: build
      run: make build
    - name: test
      run: make test
  coverage:
    name: coverage
    runs-on: ubuntu-20.04
    steps:
    - name: install go
      uses: actions/setup-go@v2
      with:
        go-version: ${{ env.GO_VERSION }}
    - name: checkout
      uses: actions/checkout@v2
    - name: coverage
      run: make coverage
    - uses: codecov/codecov-action@v1
      with:
        file: ./coverage.out
  lint:
    name: lint
    runs-on: ubuntu-20.04
    steps:
    - name: checkout
      uses: actions/checkout@v2
    - name: golangci-lint
      uses: golangci/golangci-lint-action@v1
      with:
        version: v1.28
  security:
    name: security
    runs-on: ubuntu-20.04
    steps:
    - name: checkout
      uses: actions/checkout@v2
    - name: run gosec
      uses: securego/gosec@master
      with:
        args: ./...
  publish:
    name: publish
    if: github.ref == 'refs/heads/master' && github.event_name == 'push'
    needs:
    - test
    - lint
    - security
    runs-on: ubuntu-20.04
    steps:
    - name: checkout
      uses: actions/checkout@v2
    - name: build container image
      run: make docker-build
    - name: dockerhub login
      run: echo ${{ secrets.DOCKERHUB_ACCESS_TOKEN }} | docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin
    - name: push container image
      run: make docker-push
