on: [push, pull_request]
name: CI
jobs:
  build:
    name: build
    runs-on: ubuntu-20.04
    steps:
    - name: checkout
      uses: actions/checkout@v2
    - name: build container image
      run: make docker-build
  test:
    name: test
    runs-on: ubuntu-20.04
    steps:
    - name: install go
      uses: actions/setup-go@v2
      with:
        go-version: 1.14.4
    - name: checkout
      uses: actions/checkout@v2
    - name: test
      run: make test
  lint:
    name: lint
    runs-on: ubuntu-20.04
    steps:
    - name: checkout
      uses: actions/checkout@v2
    - name: golangci-lint
      uses: golangci/golangci-lint-action@v1
      with:
        version: v1.28
  security:
    name: security
    runs-on: ubuntu-20.04
    steps:
    - name: checkout
      uses: actions/checkout@v2
    - name: run gosec
      uses: securego/gosec@master
      with:
        args: ./...
