on:
  push:
    tags:
    - 'v*'
name: release
env:
  KUSTOMIZE_VERSION: 3.8.1
jobs:
  release:
    name: release
    runs-on: ubuntu-20.04
    steps:
    - name: checkout
      uses: actions/checkout@v2
    - name: get version
      id: get_version
      run: echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\/v/}
    - name: install kustomize
      run: |
        wget -q https://github.com/kubernetes-sigs/kustomize/releases/download/kustomize%2Fv"$KUSTOMIZE_VERSION"/kustomize_v"$KUSTOMIZE_VERSION"_linux_amd64.tar.gz
        mkdir kustomize
        tar xzf kustomize_v"$KUSTOMIZE_VERSION"_linux_amd64.tar.gz -C kustomize
        echo "::add-path::$PWD/kustomize"
    - name: build kubectl-install
      run: make kubectl-install-build
    - name: create release
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ github.ref }}
        release_name: v${{ steps.get_version.outputs.VERSION }}
        prerelease: ${{ endsWith(steps.get_version.outputs.VERSION, '-dev') }}
        body: |
          See [README](https://github.com/${{ github.repository }}/blob/v${{ steps.get_version.outputs.VERSION }}/README.md) for detailed install instructions.

          **container image:**
          ```
          docker pull docker.io/${{ github.repository }}:${{ steps.get_version.outputs.VERSION }}
          ```

          **kustomize install:**
          ```
          kustomize build github.com/${{ github.repository }}/deploy?ref=v${{ steps.get_version.outputs.VERSION }}
          ```

          **kubectl install:**
          ```
          kubectl apply -f https://github.com/${{ github.repository }}/releases/download/v${{ steps.get_version.outputs.VERSION }}/kubectl-install.yaml
          ```
    - name: upload kubectl-install
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ./kubectl-install.yaml
        asset_name: kubectl-install.yaml
        asset_content_type: application/x-yaml
